@import "../abstracts/mixins";

.form-text {
  position: absolute;
}

.form-label {
  font-weight: 600;
}

.form-control {
  border-radius: 5px !important;
  font-size: $secondaryText !important;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial ;
  box-shadow: none !important;
}

.button-toggle{
  @include button-toggle();
  @include color-gray();
}

.button-toggle:hover {
  @include bg-gray();
  @include color-white();
}

.custom-search-border{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.custom-filter-select{
  height: 32px !important;
}

.table th{
  border-top: 0 !important;
}
.table td{
  line-height: 2.5;
}
.custom-tblHeader{
  font-weight: 500 !important;
}

input{
  outline: 0 !important;
  border-color: initial ;
  box-shadow: none !important;
}

input [type="radio"]{
  border-color: #00C851;
  background-color: #00C851;
}

input[type="radio"]:checked{
  display: inline-block;
  // @include bgcolor-green();
}