@import "themes.scss";
$useTheme: $theme-ncbl;

///////colors
@mixin color-primary {
  color: map-get($useTheme, "primaryColor");
}
@mixin color-secondary {
  color: map-get($useTheme, "secondaryColor");
}
@mixin color-white {
  color: map-get($useTheme, "whiteColor");
}
@mixin color-title {
  color: map-get($useTheme, "titleColor");
}
@mixin color-border{
  color: map-get($useTheme, "colorGray");
}
@mixin bgcolor-footer{
  background-color: map-get($useTheme, "footerColor");
}
@mixin main-gradient{
  background: map-get($useTheme, "mainGradient" );
}
///////fonts
@mixin secondary-text {
  font-size: map-get($useTheme, "secondaryText");
}
@mixin sub-text {
  font-size: map-get($useTheme, "subText");
}
@mixin main-title {
  font-size: map-get($useTheme, "mainTitle");
}
@mixin secondary-title {
  font-size: map-get($useTheme, "secondaryTitle");
}
@mixin primary-header {
  font-size: map-get($useTheme, "primaryHeader");
}
@mixin sub-header {
  font-size: map-get($useTheme, "subHeader");
}

@mixin fw-600 {
  font-weight: map-get($useTheme, "fw-600" );
}

///////functions
@mixin button-normal {
  width: map-get($useTheme, "maxWidth");
  height: map-get($useTheme, "btnHeight");
  border-radius: 8px;
  border: none;
  background-color: map-get($useTheme, "primaryColor");
}
@mixin button-small {
  border-radius: 6px;
  border: none;
  background-color: map-get($useTheme, "primaryColor");
  width: map-get($useTheme, "btnSmWidth" );
  height: map-get($useTheme, "btnSmHeight" );
}

@mixin button-main {
  border-radius: 25px;
  border: none;
  background-color: map-get($useTheme, "primaryColor");
  height: map-get($useTheme, "btnMdHeight" );
}