
$colorPrimary: #006633;
$colorSecondary: #B9B9B9;
$colorWhite : #FFFFFF;

$colorBlack-shade1: #25282B;
$colorBlock-shade2: #23263B;

$colorError : #DC121C;
$colorWarning : #FEAF13;
$colorGray: #8D8D8D;
$colorFooter: #F7FCF9;

$mainGradient: transparent linear-gradient(180deg, #2ABE560F 0%, #E1F5EA14 54%, #FFFFFF57 100%) 0% 0% no-repeat padding-box;
$secondaryGradient: transparent linear-gradient(180deg, rgba(255,255,255,1) 0%, #F4FCF6 3%, #F4FCF6 97%, rgba(255,255,255,1) 100%);

$mainTitle: 38px;
$secondaryTitle: 32px;
$primaryHeader: 58px;
$subHeader: 48px;

$mainText: 18px;
$primaryText: 16px;
$secondaryText: 14px;
$subText: 12px;

$maxWidth: 100%;
$btnSmWidth: 100px;

$btnHeight: 45px;
$btnSmHeight: 32px;
$btnMdHeight: 42px;

$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;



