
$colorPrimary: #006633;
$colorSecondary: #B9B9B9;
$colorWhite : #FFFFFF;
$colorBlack: #25282B;
$colorError : #DC121C;
$colorWarning : #FEAF13;
$colorGray: #8D8D8D;

$mainHeader: 38px;
$secondaryHeader: 32px;

$primaryText: 16px;
$secondaryText: 14px;
$subText: 12px;

$maxWidth: 100%;

$btnHeight: 45px;

$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;