@import "styles/abstracts/variables";
.header-container {
  .header-line {
    height: 2.5px;
    width: 95px;
    margin: auto;
    background-color: $colorPrimary;
    color: $colorPrimary;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 10px;
      height: 2.5px;
      width: 3px;
      background-color: $bgcolorSecondary;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 30px;
      height: 2.5px;
      width: 3px;
      background-color: $bgcolorSecondary;
    }
  }
}
