@import "styles/abstracts/variables";

.breadcrumb {
  .breadcrumb-url {
    text-decoration: none;
    color: $colorBlack-shade1;
    &:hover {
      text-decoration: underline;
    }
  }
  .breadcrumb-url-active {
    text-decoration: none;
    cursor: text;
    color: $colorPrimary;
  }
}
