.about-img {
  img {
    height: 300px;
    border-radius: 30px 30px 0 30px;
    top: -15%;
  }
}
.about-img2 {
  p {
    text-align: right;
  }
  img {
    height: 300px;
    border-radius: 30px 30px 30px 0;
    top: -15%;
  }
}
