.btn-toggle{
  border: none !important;
}
.custom-nav{
  transition: 1s all ease;

}
.custom-nav-content{
  margin-top: -70px;
  padding-top: 70px;
}

.color-change {
  transition: 1s all ease;
  background-color: #ffffff78;
  border-bottom: 1px solid #ddd;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

////////////////////////login Modal
.close-btn {
  position: absolute;
  z-index: 9;
  top: 8px;
  right: 8px;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #2abe560e ;

}

.custom-modal {
  backdrop-filter: blur(5px);
}

.login-modal-content {
  border: none !important;
  border-radius: 20px !important;
  position: relative;
}

