.btn-toggle{
  border: none !important;
}
.custom-nav{
  transition: 1s all ease;

}
.custom-nav-content{
  margin-top: -70px;
  padding-top: 70px;
}
.custom-logo{
  height: 35px;
}

.color-change {
  transition: 1s all ease;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  opacity: 0.9;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

////////////////////////login Modal
.close-btn {
  display: flex;
  position: absolute;
  z-index: 9;
  top: 8px;
  right: 8px;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.custom-modal {
  backdrop-filter: blur(5px);
}

.login-modal-content {
  border: none !important;
  border-radius: 20px !important;
  position: relative;
}

