.close-btn {
    display: flex;
    position: absolute;
    z-index: 9;
    top: 8px;
    right: 8px;

  }
  
  .custom-modal-content {
    border: none !important;
    border-radius: 10px !important;
    position: relative;
  }
  