@import "styles/abstracts/variables";

.dash__container {
  background-color: $clr-grey-100;
  .dash__sidenav {
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $colorWhite;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .dash__content {
    margin-left: 250px;
    .dash__outlet{
      border-radius: 8px;
    }
  }
}


